<nav class="navbar">
    <div class="navbar-cont">
        <div class="navbar-logo" (click)="handleClick()">
            <img src="{{logo}}" alt="PhotoSnap" (click)="goToHome()">

        </div>
        <div class="menu-icon">
            <button class="nav-btn" (click)="handleClick()">
            <i [class]="click? 'fas fa-2x fa-times':'fas fa-2x fa-bars' "></i>
          </button>
        </div>
        <ul [class]="click?'nav-menu active' :'nav-menu'">
            <li class="nav-item" (click)='closeMobile()'>
                <a [routerLink]="['stories']" class="nav-links">Stories</a>
            </li>
            <li class="nav-item" (click)='closeMobile()'>
                <a [routerLink]="['features']" class="nav-links">Features</a>
            </li>
            <li class="nav-item" (click)='closeMobile()'>
                <a [routerLink]="['pricing']" class="nav-links">Pricing
                </a>
            </li>
            <li class="nav-item" (click)='closeMobile()'>
                <button class='mobile-btn'>Get an Invite</button>
            </li>
        </ul>
        <button class='desktop-btn'>Get an Invite</button>
    </div>
</nav>