<nav class="navbar">
    <div class="navbar-cont">
        <div class="navbar-logo">
            <img src="{{logo}}" alt="PhotoSnap" (click)="goToHome()">

        </div>
        <div class="menu-icon">
            <i class="fas fa-bars"></i>
        </div>
        <ul class="nav-menu">
            <li class="nav-item">
                <a [routerLink]="['stories']" class="nav-links">Stories</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['features']" class="nav-links">Features</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['pricing']" class="nav-links">Pricing
                </a>
            </li>
            <li class="nav-item">
             <button class='mobile-btn'>Get an Invite</button>
            </li>
        </ul>
        <button class='desktop-btn'>Get an Invite</button>
    </div>
</nav>