<div class="topfeat-cont" fxLayout="row wrap">
    
    <div class="text-col" fxFlex.xs="100%" fxFlex.sm="58%" fxFlex.md="42%" fxFlex.lg="42%">
       <h2>Features</h2>
       <p>We make sure all of our features are designed to be loved by every aspiring and even professional photograpers who wanted to share their stories.</p>
      
    </div>
    <div class="img-col" fxFlex.xs="100%" fxFlex.sm="42%" fxFlex.md="58%" fxFlex.lg="58%">

        <img src="{{topFeat}}" alt="Features">
     </div>


</div>