<div class="stories-row" fxLayout="row wrap" >
    <div *ngFor="let data of storiesdata; let i=index">
    <div class="story-cont" fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="25%" fxFlex.lg="25%">
        <div fxLayout="row wrap">
    <div class="img-col" fxFlex.lg="100%">
        <img src="{{data.src}}" alt="{{ data.imgAlt}}">
    </div>
    <div class="text-col" fxFlex.lg="100%">
        <h4>{{data.date}}</h4>
        <h3>
            {{data.title}}
        </h3>
        <h4>{{data.author}}</h4>
        <hr/>
        <button>
            <div fxLayout="row wrap" >
             <div fxFlex="66%">
                 READ STORY
             </div>
             <div fxFlex="33%">
              <img src="{{arrow}}" alt="arrow">
             </div>
    
            </div>
    
          </button>
    </div>
    
        </div>
    
    </div>
    
    </div>
    
    
    
    </div>