<div fxLayout="row wrap"  class="{{classes}}">
    <div class="img-col" fxFlex.xs="100%" fxFlex.sm="42%" fxFlex.md="58%" fxFlex.lg="58%">

       <img src="{{src}}" alt="{{imgAlt}}">
    </div>
   <div class="text-col" fxFlex.xs="100%" fxFlex.sm="58%" fxFlex.md="42%" fxFlex.lg="42%">
      <h2>{{title}}</h2>
      <p>{{text}}</p>
      <button [class]="index===0? 'btn white': 'btn'" (click)="link && goToStories()">
        <div fxLayout="row wrap" >
         <div fxFlex="66%">
                   {{btn}}
         </div>
         <div fxFlex="33%">
          <img [src]="arrow==0? ArrowW : Arrow " alt="arrow">
         </div>

        </div>

      </button>
   </div>
</div>